@font-face {
  font-family: SVNRockness;
  src: url(./9SLIDE06JOYFUL.ttf);
}
@font-face {
  font-family: Futura_Light_font;
  src: url(./font/Futura-CondensedLight.otf);
}
body {
  font-family: "Futura_Light_font" !important;
}
.sl_title {
  font-family: "SVNRockness";
}
.sl_title_sub {
  font-family: "SVNRockness";
}
._people {
  font-family: "SVNRockness" !important;
}
.title {
  font-family: "SVNRockness" !important;
}
.special_thanks {
  font-family: "SVNRockness" !important;
}
.img-wedding-event {
  width: 200px;
  height: 200px;
  object-fit: cover
}
.ff-dieu{
  font-family: "SVNRockness" !important;
}
.special_thanksa{
  font-family: "SVNRockness" !important;
  font-size: 144px !important;
  line-height: 160px;
  color: #1a3c68 !important;
  opacity: .8;
  margin-bottom: 12px;
}